<!DOCTYPE html>
<html>
  <head>
    <title>PokedexRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style type="text/css">
      body {
        background-color: red;
        font-family: 'Knewave', cursive;
        color: white;
      }
      h4 {
        text-align: center;
      }
      .pokemon-form {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
